# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# S3 / SQS
BUCKET_NAME=nci-cbiit-ss-analysistools-sandbox
QUEUE_NAME=nci-cbiit-ss-microarray-sbox.fifo

# Mail
MAIL_HOST=mailfwd.nih.gov
MAIL_PORT=25
MAIL_ADMIN_EMAIL=NCIMicroArrayWebAdmin@mail.nih.gov
MAIL_SUPPORT_EMAIL=kai-ling.chen@nih.gov
