config/.*
node_modules
npm-debug.log
yarn-error.log*
package-lock.json
/service/.DS_Store
.DS_Store
.Rproj.user
/bak/
/mpstr_pathworks_mac/
/mpstr_pathworks_linux/
*.log
config/microarray_setting.json
