@import '~antd/dist/antd.css';
.ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters, .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters{
    padding-right: 10px !important;
};

.ant-collapse>.ant-collapse-item>.ant-collapse-header{
	color: brown;
    font-weight: 600;
    font-size: 18px;
};