#map-header {
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
}

#map-header img {
  margin: 1em 0px;
}

#map-banner {
  background: #729829;
  line-height: 2em;
}

#map-nav {
  background: #3E3E3E;
}

#map-nav .nav>li>a:focus,
#map-nav .nav>li>a:hover {
  background: #666;
}

#map-nav a {
  color: #FFF;
  line-height: 4em;
}

.navbar-nav {
  list-style: none;
  padding-left: 0px;
}

.nav-item {
  padding-right: 1em;
}

#map-inputs .row > div ~ div:not(.show) {
    display: none;
}

#map-grouping tbody tr {
  cursor: pointer;
}

#map-results a {
  color: #333;
}

.row {
  margin-top: 5px;
}

#spinner:not(.show) {
  display: none;
}

#spinner::before {
  background: #000;
  bottom: 0px;
  content: '';
  left: 0px;
  opacity: 0.5;
  position: fixed;
  right: 0px;
  top: 0px;
}

#spinner div {
  background: #FFF;
  border-radius: 20px;
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 120px;
}

#spinner .glyphicon {
  animation: spin 5s infinite linear;
  font-size: 100px;
  line-height: 120px;
}